<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://www.baidu.com/baidu" target="_blank">
    <table bgcolor="#FFFFFF"><tr><td>
        <input name=tn type=hidden value=baidu>
        <a href="http://www.baidu.com/"><img src="https://gss0.bdstatic.com/70cFsjip0QIZ8tyhnq/img/logo-80px.gif" alt="Baidu" align="bottom" border="0"></a>
        <input type=text name=word size=30>
        <input type="submit" value="百度搜索">
    </td></tr></table>
</form>
</body>
</html>